{% extends "face_morph_app/base.html" %}
{% block content %}


<h2 class = "red-text lighten-4" id = "websiteheading"> Welcome to  FaceMorph!</h2>
<form method="POST" enctype="multipart/form-data" action="{% url 'result' %}">
  {% csrf_token %}



<p id = "celebs"> {{celebs|safe}}</p>



  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" name = "autocomplete-input" class="autocomplete" autocomplete="off">
          <label for="autocomplete-input">Celebrity Search</label>

        </div>
      </div>
    </div>
  </div>
  

  <table id = "celebtable" class = "highlight striped center" style = "width: 400px" >
    <thead>
    <tr>
      <th class ="center" style = "text-align:center"> Selected Celebrities</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" name="celebselect0" id="celebselect0" tabindex="-1"></td>
        <td><button type = "button" class="btn-floating btn-small red" id = "removeceleb0"><i class="material-icons">remove</i></button></td>
      </tr>
      <tr>
        <td><input type="text" name="celebselect1" id="celebselect1" tabindex="-1"></td>
        <td><button type = "button" class="btn-floating btn-small red" id = "removeceleb1"><i class="material-icons">remove</i></button></td>
      </tr>
      <tr>
        <td><input type="text" name="celebselect2" id="celebselect2" tabindex="-1"></td>
        <td><button type = "button" class="btn-floating btn-small red" id = "removeceleb2"><i class="material-icons">remove</i></button></td>
      </tr>
      <tr>
        <td><input type="text" name="celebselect3" id="celebselect3" tabindex="-1"></td>
        <td><button type = "button" class="btn-floating btn-small red" id = "removeceleb3"><i class="material-icons">remove</i></button></td>
      </tr>
      <tr>
        <td><input type="text" name="celebselect4" id="celebselect4" tabindex="-1"></td>
        <td><button type = "button" class="btn-floating btn-small red" id = "removeceleb4"><i class="material-icons">remove</i></button></td>
      </tr>
    </tbody>
  </table>

  <label class="waves-effect waves-light btn-large"><i class="material-icons">photo_size_select_actual</i>
    <input type="file" id ="document" name="document">
  </label>
  <label id = "submitButton" class="waves-effect waves-light disabled btn-floating red btn-large"><i class="material-icons">arrow_forward</i>
    <input type="submit" name="uploadPicture">
  </label>

</form>

<script src="static/face_morph_app/js/materalize.js"></script>

{% endblock content %}

