  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

input[type="file"], input[name="uploadPicture"] {
    display: none;
}
label[id = "submitButton"] {
    position:relative;
    left: 78%;
    top: 100px;
    height: 150px;
    width: 150px;
    font-size: 250px;
}
label[id = "fileInput"] {
    position: relative;
    left: 46%;
    top: 225px;
    height: 100px;
    width: 150px;
    font-size: 137px;

}
div[id = "inputfieldrow"] {
    position:relative;
    top: -50px;
    left: 43%;
    width: 50%;
}

div[id = "cardsrow"] {
    position:relative;
    top:100px;
}

p[id="celebs"] {
    font-size:0;
}
h2[id = "websiteheading"] {
    text-align:center;
}
table[id = "celebtable"] {
    margin-left:auto;
    margin-right:auto;
}
input[name="celebselect0"],input[name="celebselect1"], input[name="celebselect2"], input[name="celebselect3"], input[name="celebselect4"] {
    pointer-events: none;
    border-bottom: none!important;
    visibility = hidden;
}

button[id = "removeceleb0"], button[id = "removeceleb1"], button[id = "removeceleb2"], button[id = "removeceleb3"], button[id = "removeceleb4"] {
    visibility: hidden;
}


i[id = "anonIcon0"], i[id = "anonIcon1"], i[id = "anonIcon2"],i[id = "anonIcon3"],i[id = "anonIcon4"] {

}

img[id = "celebPicture0"], img[id = "celebPicture1"], img[id = "celebPicture2"], img[id = "celebPicture3"], img[id = "celebPicture4"] {
    display: none;
    margin-right: auto;
    margin-left: auto;
}

div[class = "image-cropper"] {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

input[class = "namesCard"] {
    text-align: center;
    top: 50%;
}

div[class="card cyan accent-4"] {
    height: 570px;
    border-radius: 10px;
}

img[alt = "Avatar"] {
    border-radius:10px;
}
